# Ignore the virtual environment directory
venv/
my_venv/

# Ignore the .env file
**.env
.env
**/.env
nit_web/.env

# Ignore the settings.py file
**/settings.py
nit_web/settings.py
media/

# Ignore the static_root folder
static_root/

# Django #
*.log
*.pot
*.pyc
**/__pycache__/
__pycache__
media/

requirement.txt
.idea
site_app/migrations

migrations/
**/migrations/
site_app/migrations/