# Ignore the virtual environment directory
venv/

# Ignore the .env file
.env
nit_web/.env

# Ignore the settings.py file
nit_web/settings.py

# Ignore the static_root folder
static_root/

# Django #
*.log
*.pot
*.pyc
**/__pycache__
__pycache__
media/
