{% extends 'base.html' %}

{% block title %}
{{ menu.title }}
{% endblock title %}

{% block content %}

{% include 'components/header_details.html' with title=menu.title %}

{% block styles %}
{% load static %}


<style>
    [data-hs-tab].active.hs-tab-active\:text-primary {
        --tw-text-opacity: 1;
        color: rgb(1 152 216 / var(--tw-text-opacity));
    }

    [data-hs-tab].active.hs-tab-active\:bg-white {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    }

    [data-hs-tab].active.hs-tab-active\:border-b-transparent {
        border-bottom-color: transparent !important;
    }

    [data-hs-tab].active.hs-tab-active\:border-primary {
        --tw-border-opacity: 1;
        border-color: rgb(1 152 216 / var(--tw-border-opacity));
    }
</style>

{% endblock styles %}



{% comment %} 
        <div class="container mx-auto my-4 text-center">
         
            <div class="grid grid-cols-0 gap-1">
                {% for manager_id, manager_data in staff_by_manager.items %}
                    <div class="box bg-gray-200 p-4 rounded ">
                        
                     
                        {% if manager_data.manager.staff.profile_picture %}
                      
                        
                        <div class="relative mx-auto my-1 items-center justify-center bg-transparent" style="width:130px; height:128px">
                            
                            <div style="width:130px; height:50px" class="absolute top-0 bg-secondary flex items-center justify-center rounded-t-2xl border-2 ">
                                <!-- Content for the other half -->
                            </div>

                            <div style="width:130px; height:130px;" class="absolute inset-0 flex items-center justify-center  rounded-l-2xl">
                                <div class="mx-auto my-1 h-28 w-28 p-1  overflow-hidden rounded-2xl border-2 border-primary bg-white">
                                    <img class="w-full h-full object-cover rounded-2xl" src="{% if manager_data.manager.staff.profile_picture %} {{ manager_data.manager.staff.profile_picture }} {% else %} {% static 'img/profile_image.png' %} {% endif %}" alt="Profile"  />
                                </div> 
                            </div> 
                        </div>
                
                        {% endif %}
                        <h2 class="font-bold text-secondary">{{ manager_data.manager.staff.designation }}</h2>
                        <p>{{ manager_data.manager.staff.name }}</p>

               
                        
                        {% if manager_data.subordinates %}
                            <div class="grid grid-cols-{{ manager_data.subordinates|length }} gap-1 ml-4 items-center justify-center">
                                {% for subordinate in manager_data.subordinates %}
                                    <div class="box w-full bg-sky-50 p-4 rounded items-center justify-center">


                                        <div class="bottom-0 w-full  flex items-center justify-center">
                                            <div class="p-2 rounded-full bg-primary opacity-90 text-white text-sm">Procurement Unit</div>
                                        </div>
                                        

                                        <div class="relative mx-auto my-1 items-center justify-center bg-transparent" style="width:130px; height:128px">
                            
                                            <div style="width:130px; height:50px" class="absolute top-0 bg-secondary flex items-center justify-center rounded-t-2xl border-2 ">
                                                <!-- Content for the other half -->
                                            </div>
                
                                            <div style="width:130px; height:130px;" class="absolute inset-0 flex items-center justify-center  rounded-l-2xl">
                                                <div class="mx-auto my-1 h-28 w-28 p-1  overflow-hidden rounded-2xl border-2 border-primary bg-white">
                                                    <img class="w-full h-full object-cover rounded-2xl" src="{% if subordinate.staff.profile_picture %} {{ subordinate.staff.profile_picture }} {% else %} {% static 'img/profile_image.png' %} {% endif %}" alt="Profile"  />
                                                </div> 
                                            </div> 
                                        </div>


                                        <h3 class="font-bold text-secondary">{{ subordinate.staff.designation }}</h3>
                                        <p>{{ subordinate.staff.name }}</p>
                                        <!-- Add more levels as needed -->
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div> {% endcomment %}


        <div class="flex flex-col justify-center items-center">
           
            <div class="container mx-auto text-center pt-24">
                <div class="items-center justify-center flex">
                    <div class="text-center">
                        
                        {% for manager_id, staff_members in staff_by_manager.items %}

                        {% if forloop.first %}
                        <div class="flex flex-col justify-center items-center">
                            <div class="w-16">
                                <img class="block rounded-full m-auto shadow-md" src="{% if staff_members.0.staff.profile_picture %} {{ staff_members.0.staff.profile_picture }} {% else %} {% static 'img/profile_image.png' %} {% endif %}" alt="Profile"  />
                            </div>
                            <div class="text-gray-600">
                                <p>{{ staff_members.0.staff.name }}</p>
                                <p>{{ staff_members.0.role }}</p>
                            </div>
                        </div>
                        {% else %}
                        
                        <ul class="flex flex-row mt-10 justify-center">
                            <div class="-mt-10 -mr-1 border-l-2 absolute h-10 border-gray-400"></div>
                            {% for staff_member in staff_members %}


                            {% if forloop.first %}
                            <!-- Code for the first element -->

                            {% if staff_members|length == 1 %}

                            <li class="relative p-6">
                                
                                
                                <div class="relative flex justify-center">
                                    
                                    
                                    <div class="text-center">
                                        <div class="flex flex-col justify-center items-center">
                                            <div class="w-16">
                                                
                                                    <img class="block rounded-full m-auto shadow-md" src="{% if staff_member.staff.profile_picture %} {{ staff_member.staff.profile_picture }} {% else %} {% static 'img/profile_image.png' %} {% endif %}" alt="Profile"  />
                                            </div>
                                            <div class="text-black">
                                                <p>{{ staff_member.staff.name }}</p>
                                                <p>{{ staff_member.role }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                                
                            {% else %}
                            <li class="relative p-6">
                                
                                <div class="border-t-2 absolute h-8 border-red-400 top-0" style="left: 50%; right: 0px;"></div>
                                <div class="relative flex justify-center">
                                    <div class="-mt-6 border-l-2 absolute h-6 border-gray-400 top-0"></div>
                                    
                                    <div class="text-center">
                                        <div class="flex flex-col justify-center items-center">
                                            <div class="w-16">
                                                
                                                    <img class="block rounded-full m-auto shadow-md" src="{% if staff_member.staff.profile_picture %} {{ staff_member.staff.profile_picture }} {% else %} {% static 'img/profile_image.png' %} {% endif %}" alt="Profile"  />
                                            </div>
                                            <div class="text-black">
                                                <p>{{ staff_member.staff.name }}</p>
                                                <p>{{ staff_member.role }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endif %}

                            

                            {% if not forloop.last %}
                                <!-- Code for when it's not the last element -->
                                

                            {% endif %}
                            {% elif not forloop.last %}
                                <!-- Code for when it's not the last element, but not the first either -->
                                <li class="relative p-6">
                                    <div class="border-t-2 absolute h-8 border-gray-400 top-0" style="left: 0px; right: 0px;"></div>
                                    <div class="border-t-2 absolute h-8 border-gray-400 top-0" style="left: 0px; right: 0px;"></div>
                                  
                                    <div class="relative flex justify-center">
                                        <div class="-mt-6 border-l-2 absolute h-6 border-gray-400 top-0"></div>
                                        
                                        <div class="text-center">
                                            <div class="flex flex-col justify-center items-center">
                                                <div class="w-16">
                                                    <img class="block rounded-full m-auto shadow-md" src="{% if staff_member.staff.profile_picture %} {{ staff_member.staff.profile_picture }} {% else %} {% static 'img/profile_image.png' %} {% endif %}" alt="Profile"  />
                                                </div>
                                                <div class="text-black">
                                                    <p>{{ staff_member.staff.name }}</p>
                                                    <p>{{ staff_member.role }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% else %}
                                <!-- Code for the last element -->
                                <li class="relative p-6">
                                    <div class="border-t-2 absolute h-8 border-gray-400 top-0" style="left: 0px; right: 50%;"></div>
                                    <div class="relative flex justify-center">
                                        <div class="-mt-6 border-l-2 absolute h-6 border-gray-400 top-0"></div>
                                        
                                        <div class="text-center">
                                            <div class="flex flex-col justify-center items-center">
                                                <div class="w-16">
                                                    <img class="block rounded-full m-auto shadow-md" src="{% if staff_member.staff.profile_picture %} {{ staff_member.staff.profile_picture }} {% else %} {% static 'img/profile_image.png' %} {% endif %}" alt="Profile"  />
                                                <div class="text-black">
                                                    <p>{{ staff_member.staff.name }}</p>
                                                    <p>{{ staff_member.role }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}

                            {% endfor %}
                        </ul>

                        {% endif %}
                        
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        </div>

      

  



{% endblock content %}