

/* styles.css */
.text1 {
    color: #0e789d;
    font: 700 24px/24px poppins, Quattrocento_old;
    text-transform: uppercase;
    padding: 5px 0 10px;
    position: relative; /* Added for positioning pseudo-elements */
}

/*.text1:before,*/
/*.text1:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    background-color: #0e789d;*/
/*}*/

/*.text1:before {*/
/*    width: 80px;*/
/*    height: 1.5px;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*    margin-left: -40px;*/
/*}*/

/*.text1:after {*/
/*    width: 40px;*/
/*    height: 1.5px;*/
/*    bottom: -5px;*/
/*    left: 50%;*/
/*    margin-left: -20px;*/
/*}*/





.dropdown-container {
      position: relative;
    }
    .dropdown-input {
      padding: 0.5rem;
      border: 1px solid #e2e8f0;
      border-radius: 0.25rem;
    }
    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      display: none;
      width: 100%;
      max-height: 12rem;
      overflow-y: auto;
      border: 1px solid #2c72ce;
      border-top: none;
      border-radius: 0 0 0.25rem 0.25rem;
      background-color: #fff;
    }
    .dropdown-menu.open {
      display: block;
    }
    .dropdown-item {
      padding: 0.5rem;
      cursor: pointer;
    }
    .dropdown-item:hover {
      background-color: #f0f4f8;
    }

    .nice-select {
    overflow: hidden;
    position: relative;
}
.input-area {
    border-top-right-radius: 999px; /* More rounded border */
    border-bottom-right-radius: 999px; /* More rounded border */
}

.input-area,
.searchable-select,
button {
    height: 60px; /* Same height for all elements */
}

.button {
    width: 120px; /* Same width as button for consistency */
}