{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>
    {% block title %} {% endblock %} NIT | National Institute of Transport
  </title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/nit_favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'mystyle.css' %}" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>

  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: "#0198D8",
            secondary: "#EA0606",
          },
        },
      },
    };
  </script>

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- Template Main CSS File -->
  <!-- <link href="{f% static 'css/style.css' %}" rel="stylesheet"> -->
</head>

<body class="mb-48">
  {% include 'top_header.html' %} {% include 'banner.html' %}
  {% include 'breadcrumb.html' %}

  {% block content %} {% endblock %}

  {% include 'footer.html' %} {% include 'flash_message.html' %}

  <!-- Template Main JS File -->
  <!-- <script src="{f% static 'js/main.js' %}"></script> -->


  <!-- Include the JQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Include the Cookies library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>


  {% block custom_js_files %} {% endblock %}
  <script type="text/javascript">

    // ajax_setup with CSRF TOKEN
    $(function () {

      // Configure the beforeSend function for all AJAX requests
      $.ajaxSetup({
        beforeSend: function (xhr) {
          // Include the CSRF token in the request headers
          var csrftoken = Cookies.get('csrftoken'); // You need to include the Cookies library for this
          xhr.setRequestHeader('X-CSRFToken', csrftoken);
        }
      });
    });

  </script>

  {% block scripts %} {% endblock %}
</body>

</html>