<div class="bg-primary sticky top-0 z-50">
    <div class="flex items-center justify-between">

        <!-- Desktop menu items -->
        <div class="hidden md:block">
            {% include 'desktop_menu.html' %}
        </div>

        <!-- Mobile menu button -->
        <div class="flex md:hidden p-4 justify-end ml-auto">
            <button id="mobile-menu-button" class="text-white focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>

    </div>
    <!-- Mobile menu -->
    <div id="mobile-menu" class="md:hidden hidden">
        {% include 'mobile_menu.html' %}
    </div>
</div>

<script>
    // JavaScript to toggle mobile menu visibility
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    mobileMenuButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
    });
</script>
