{% load static %}
<div class="mr-2 ml-2 mb-2 flex justify-between items-center">
    <header>
        <h3 class="text-xl font-medium text-primary">News Flash</h3>
    </header>
    <!-- View All Button -->
    <a href="/view-all" class="text-primary bg-gray-300 hover:bg-gray-400 px-4 py-2 rounded transition-colors duration-100">
        View All
    </a>
</div>

<div class="flex justify-center  flex-col  sm:flex-row">
{% if news_flash %}

{% for news in news_flash %}
<a href="{{ news.web_url }}">
    <div class="relative rounded overflow-hidden shadow-lg mx-2 my-2">
        <img class="w-full" src="{{ news.image_url.url }}" alt="Card image">
        <div class="absolute bottom-0 w-full bg-primary bg-opacity-90 text-white px-6 py-4">
            <p class="text-white text-xs">
                {{ news.created_at }}
            </p>
        </div>
    </div>
</a>
{% endfor %}
{% else %}
<p>No any news flash found</p>
{% endif %}
</div>

