<section class="flex items-center justify-end">
    <nav class="flex flex-col sm:flex-row justify-between items-center p-1 bg-white text-laravel">
        <ul class="flex flex-col sm:flex-row space-y-2 sm:space-x-6 sm:space-y-0 text-sm ml-auto items-center">
                <li class="sm:border-l border-gray-300 pl-4">
                    <a href="/users/register" class="hover:text-blue-900 transition-colors duration-100"><i
                            class="fa-solid fa-phone"></i>
                        +255 22 221 3701</a>
                </li>

                <li class="sm:border-l border-gray-300 pl-4">
                    <a href="/users/register" class="hover:text-blue-900 transition-colors duration-100"><i
                            class="fa-solid fa-envelope"></i>
                        Staff Mail</a>
                </li>

                <li class="sm:border-l border-gray-300 pl-4">
                    <a href="/users/register" class="hover:text-blue-900 transition-colors duration-100"><i
                            class="fa-solid fa-user-plus"></i> Register</a>
                </li>
                <li class="sm:border-l border-gray-300 pl-4">
                    <a href="/users/login" class="hover:text-blue-900 transition-colors duration-100"><i
                            class="fa-solid fa-cloud-download"></i>
                        Downloads</a>
                </li>
                <li class="sm:border-l border-gray-300 pl-4">
                    <a href="/users/login" class="hover:text-blue-900 transition-colors duration-100"><i
                            class="fa-solid fa-arrow-right-to-bracket"></i>
                        Login</a>
                </li>

                <li class="sm:border-l border-gray-300 pl-4">
                    <a href="/users/login" class="hover:text-blue-900 transition-colors duration-100"><i
                            class="fa-solid fa-building"></i>
                        Campus</a>
                </li>

                <li class="sm:border-l border-gray-300 pl-4">
                    <a href="/users/login" class="hover:text-blue-900 transition-colors duration-100"><i
                            class="fa-solid fa-users"></i>
                        SONIT</a>
                </li>

                <li class="sm:border-l border-gray-300 pl-4">
                    <a href="/users/login" class="hover:text-blue-900 transition-colors duration-100"><i
                            class="fa-solid fa-book"></i>
                        Journal</a>
                </li>

                <li class="sm:border-l border-gray-300 pl-4">
                    <a href="/users/login" class="hover:text-blue-900 transition-colors duration-100"><i
                            class="fa-solid fa-graduation-cap"></i>
                        Alumni</a>
                </li>

                <li class="sm:border-l border-gray-300 pl-4">
                    <a href="/users/login" class="hover:text-blue-600 transition-colors duration-100"><i
                            class="fa-solid fa-globe"></i>
                        SIMS</a>
                </li>

                <li class="sm:border-l border-gray-300 pl-4">
                    <!-- Component: Large primary basic button -->
                    <button
                        class="inline-flex items-center justify-center h-8 gap-2 px-6 text-sm font-medium tracking-wide text-white transition duration-300 rounded focus-visible:outline-none whitespace-nowrap bg-sky-500 hover:bg-sky-600 focus:bg-sky-700 disabled:cursor-not-allowed disabled:border-sky-300 disabled:bg-sky-300 disabled:shadow-none">
                        <span>Apply Now</span>
                    </button>
                    <!-- End Large primary basic button -->
                </li>
        </ul>
    </nav>
</section>
