<!-- <section class="flex items-center justify-end bg-primary">
  <nav class="flex flex-col sm:flex-row justify-between items-center p-1 text-white">
    <ul class="flex flex-col sm:flex-row space-y-2 sm:space-x-6 sm:space-y-0 text-sm ml-auto items-center">
      <li class="sm:border-l border-gray-300 pl-4">
        <a href="" class="hover:text-blue-900 transition-colors duration-100"><i class="fa-solid fa-phone"></i> Tel:
          (+255) 22 221 3701</a>
      </li>

      <a href="" class="hover:text-blue-900 transition-colors duration-100"><i class="fa-solid fa-envelope"></i>
        rector@nit.ac.tz</a>
      </li>

      <li class="sm:border-l border-gray-300 pl-4">
        <a href="" class="hover:text-blue-900 transition-colors duration-100"><i class="fa-solid fa-envelope"></i> Staff
          Mail</a>
      </li>


      <li class="sm:border-l border-gray-300 pl-4">
        <a href="/users/login" class="hover:text-blue-900 transition-colors duration-100"><i
            class="fa-solid fa-cloud-download"></i> Downloads</a>
      </li>


      <li class="sm:border-l border-gray-300 pl-4">
        <a href="/users/login" class="hover:text-blue-900 transition-colors duration-100"><i
            class="fa-solid fa-building"></i> Campus</a>
      </li>

      <li class="sm:border-l border-gray-300 pl-4">
        <a href="/users/login" class="hover:text-blue-900 transition-colors duration-100"><i
            class="fa-solid fa-users"></i> SONIT</a>
      </li>

      <li class="sm:border-l border-gray-300 pl-4">
        <a href="/users/login" class="hover:text-blue-900 transition-colors duration-100"><i
            class="fa-solid fa-book"></i> Journal</a>
      </li>

      <li class="sm:border-l border-gray-300 pl-4">
        <a href="/users/login" class="hover:text-blue-900 transition-colors duration-100"><i
            class="fa-solid fa-graduation-cap"></i> Alumni</a>
      </li>

      <li class="sm:border-l border-gray-300 pl-4">
        <a href="/users/login" class="hover:text-blue-600 transition-colors duration-100"><i
            class="fa-solid fa-globe"></i> SIMS</a>
      </li>

      <li class="sm:border-l border-gray-300 pl-4">
        <c!-- Component: Large primary basic button 
        <button
          class="inline-flex items-center justify-center h-8 gap-2 px-6 text-sm font-medium tracking-wide text-white transition duration-300 rounded focus-visible:outline-none whitespace-nowrap bg-sky-500 hover:bg-sky-600 focus:bg-sky-700 disabled:cursor-not-allowed disabled:border-sky-300 disabled:bg-sky-300 disabled:shadow-none">
          <span>Apply Now</span>
        </button>
      </li>
    </ul>
  </nav>
</section> -->


<section class="flex items-center justify-end bg-white sm:bg-primary">
  <nav class="flex flex-col sm:flex-row justify-between items-center p-1 text-primary sm:text-white">
    <!-- Three dots menu -->
    <div class="sm:hidden ml-auto">
      <button id="menuButton" class="focus:outline-none text-black">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <!-- First dot -->
          <circle cx="12" cy="6" r="1" />
          <!-- Second dot -->
          <circle cx="12" cy="12" r="1" />
          <!-- Third dot -->
          <circle cx="12" cy="18" r="1" />
        </svg>
      </button>
    </div>

    <!-- List of navigation items -->
    <ul id="menuList"
      class="hidden sm:flex flex-col sm:flex-row space-y-2 sm:space-x-6 sm:space-y-0 text-sm ml-auto items-center">
      <!-- Your navigation items go here -->
      <li class="sm:border-l border-gray-300 pl-4">
        <a href="" class="hover:text-blue-900 transition-colors duration-100"><i class="fa-solid fa-phone"></i> Staff
          Mail</a>
      </li>
      <li class="sm:border-l border-gray-300 pl-4">
        <a href="" class="hover:text-blue-900 transition-colors duration-100"><i class="fa-solid fa-envelope"></i>
          e-Learning</a>
      </li>
      <li class="sm:border-l border-gray-300 pl-4">
        <button
          class="inline-flex items-center justify-center h-8 gap-2 px-6 text-sm font-medium tracking-wide text-white transition duration-300 rounded focus-visible:outline-none whitespace-nowrap bg-sky-500 hover:bg-sky-600 focus:bg-sky-700 disabled:cursor-not-allowed disabled:border-sky-300 disabled:bg-sky-300 disabled:shadow-none">
          <span>Apply Now</span>
        </button>
      </li>
    </ul>
  </nav>
</section>


{% block scripts %}
<script>
  // JavaScript to toggle the visibility of the menuList
  const menuButton = document.getElementById('menuButton');
  const menuList = document.getElementById('menuList');

  menuButton.addEventListener('click', function () {
    menuList.classList.toggle('hidden');
  });
</script>
{% endblock scripts %}