{% load static %}
{% load custom_tags %}

<div class="p-2 relative flex justify-center items-center">

    <span class="h-1 w-10 bg-primary"></span>
    <h1 class="text-primary text-5xl mx-2 font-bold">About NIT</h1>

    <span class="h-1 w-10 bg-primary "></span>
</div>


<section class="flex flex-col md:flex-row mt-2">




    <div class="w-full relative overflow-hidden">


        <div class="bg-primary opacity-90 absolute inset-0 z-0 bg-cover bg-center bg-no-repeat"
            style="background-image: url({% static 'img/bg_about_2.png' %});"></div>


        <div class="relative z-10 flex flex-wrap">

           
            <div class="w-full md:w-2/5 lg:w-2/5 xl:w-2/5 p-4">

                {% include 'about_nit_slide.html' %}

            </div>

            <div class="w-full md:w-3/5 lg:w-3/5 xl:w-3/5">
              
                
                {% include 'about_nit_message.html' %}


            </div>
        </div>
   
    </div>



</section>