<div class="p-2 relative flex justify-center items-center">
  <span class="h-1 w-10 bg-primary"></span>
  <h1 class="text-primary text-2xl mx-2">Downloads</h1>

  <span class="h-1 w-10 bg-primary "></span>
</div>


{% if downloads %}
<ul class="divide-y divide-slate-100">
  {% for download in downloads %}

  <!-- {f% with icon=site_app.FILE_ICONS.get(download.get_file_extension(), 'default-icon.png') %}
  <img src="{f% static 'icons/' %}{ff{ icon }}" alt="File Icon">
  {f% endwith %} -->

  <div class="block hover:shadow-md hover:bg-yellow-100 transition-colors duration-100">
    <a href="{{ download.file.url }}">
      <li class="flex items-start gap-4 px-4 py-3">
        <div class="flex items-center text-sky-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
          </svg>
        </div>
        <div class="flex flex-col gap-0 min-h-[2rem] items-start justify-center w-full min-w-0">
          <h4 class="text-base text-slate-700">{{ download.title }}</h4>
        </div>
      </li>
    </a>
  </div>
  {% endfor %}
</ul>
{% else %}
<p>No any download found</p>
{% endif %}

<div class="text-right pt-4">
   <!-- View All Button -->
    <a href="/view-all" class="text-white bg-sky-500 hover:bg-sky-600 px-4 py-2  transition-colors duration-100">
        <span>VIEW ALL </span> <i class="fa fa-long-arrow-right ml-2"></i>
    </a>
    
</div>