{% load static %} {% load tz %}

<div class="mb-2 flex justify-center items-center">
  <header>
      <h1 class="text-primary text-2xl font-bold relative">Downloads</h1>
 
      <div class="relative bottom-0 left-1/2 transform -translate-x-1/2 w-1/2 h-0.5 bg-primary mt-1"></div>
  </header>
</div>

<div class="h-96 overflow-y-auto">
{% if downloads %}
<ul class="divide-y divide-slate-100">
  {% for download in downloads %}
  <div class="block bg-white hover:shadow-md hover:bg-sky-100 transition-colors duration-100 shadow-md card">
    <a href="{{ download.file.url }}">
      <li class="flex items-start gap-4 px-4 py-3">
        <div class="flex items-center text-secondary">
          {% comment %} <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
          </svg> {% endcomment %}

          <img src="{% static 'img/pdf_icon.png' %} " class="w-8"/>

          <!-- {f% with file_extension=download.get_file_extension %}
          {f% with icon_filenames=file_extension|get_icon_filenames %}
          {f% if icon_filenames %}
          <img src="{f% static 'icons/' %}{f{ icon_filenames.0 }}" alt="Icon" class="w-6 h-6">
          {f% else %}
          <img src="{f% static 'default-icon.png' %}" alt="Default Icon" class="w-6 h-6">
          {f% endif %}
          {f% endwith %}
          {f% endwith %} -->
        </div>
        <div class="flex flex-col gap-0 min-h-[2rem] items-start justify-center w-full min-w-0">
          <h4 class="text-sm text-primary">{{ download.title }}</h4>
        </div>
        <!-- Component: Small primary button with icon  -->
<button class="inline-flex items-center self-center justify-center h-8 gap-2 px-4 text-xs font-medium tracking-wide text-white transition duration-300 rounded focus-visible:outline-none whitespace-nowrap bg-secondary hover:bg-sky-600 focus:bg-sky-700 disabled:cursor-not-allowed disabled:border-sky-300 disabled:bg-sky-300 disabled:shadow-none">
  <span class="relative only:-mx-4">
    <span class="sr-only">Download</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" role="graphics-symbol" aria-labelledby="title-14 desc-14">
      <title id="title-14">download</title>
      <desc id="desc-14">
        download
      </desc>
      <path stroke-linecap="round" stroke-linejoin="round" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
    </svg>
  </span>
</button>
<!-- End Small primary button with icon  -->
      </li>
    </a>
  </div>
  {% endfor %}
</ul>
{% else %}
<p>No any download found</p>
{% endif %}
</div>

<div class="m-2 flex justify-between items-center">
  <div></div>
  <!-- View All Button -->
  <a href="/view-all" class="text-primary bg-gray-300 hover:bg-white px-4 py-2 rounded transition-colors duration-100">
      View All
  </a>
</div>

