{% load static %}
<div class="mr-2 ml-2 mb-2 flex justify-between items-center">
    <header>
        <h3 class="text-xl font-medium text-primary">e-News</h3>
    </header>
    <!-- View All Button -->
    {% if news_flash %}
    <a href="/view-all"
        class="text-primary bg-gray-300 hover:bg-white px-4 py-2 rounded transition-colors duration-100">
        View All
    </a>
    {% endif %}
</div>

<div class="flex justify-center  flex-col  sm:flex-row">
    {% if news_flash %}
    <a href="{{ news_flash.file_url.url }}" target="_blank">
        <div class="relative rounded overflow-hidden shadow-lg mx-2 my-2">
            <img class="w-full" src="{{ news_flash.image_url.url }}" alt="Card image">
            <div class="absolute bottom-0 w-full bg-primary bg-opacity-90 text-white px-6 py-4">
                <div class="flex justify-between">
                    <!-- Left column -->
                    <div class="w-1/2">
                        <p class="text-white text-xs">
                            {{ news_flash.created_at|date:"F j, Y" }}
                        </p>
                    </div>

                    <!-- Right column -->
                    <div class="w-1/2 flex justify-end">
                        <!-- Component: Small primary button with trailing icon  -->
                        <button
                            class="inline-flex items-center justify-center h-8 gap-2 px-4 text-xs font-medium tracking-wide text-white transition duration-300 rounded focus-visible:outline-none whitespace-nowrap bg-secondary hover:bg-black focus:bg-sky-700 disabled:cursor-not-allowed disabled:border-sky-300 disabled:bg-sky-300 disabled:shadow-none">
                            <span>Download</span>
                            <span class="relative only:-mx-6">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" stroke-width="1.5" role="graphics-symbol"
                                    aria-labelledby="title-12 desc-12">
                                    <title id="title-12">Download</title>
                                    <desc id="desc-12">
                                        news flash
                                    </desc>
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>

                <!-- End Small primary button with trailing icon  -->
            </div>
        </div>
    </a>

    {% else %}
    <p>No any eNews found</p>
    {% endif %}
</div>