{% load static %}
{% load tz %}
{% load custom_tags %}

<div class="p-2 flex justify-center items-center bg-gray-200 border-b-2 border-gray-300">
    <header>
        <h1 class="text-primary text-2xl font-bold relative">Current News</h1>
        <div class="relative bottom-0 left-1/2 transform -translate-x-1/2 w-1/2 h-0.5 bg-primary mt-1"></div>
    </header>
</div>

<div class="flex w-full  overflow-y-auto relative" id="scrollable-area-hot-news" style="height:360px">
    {% if hot_news %}
    <ul class="w-full divide-y divide-slate-100">
        {% for item in hot_news %}
        <div class="block bg-white hover:shadow-md hover:bg-sky-100 transition-colors duration-100 shadow-md card">
            <a href="/hot-news/{{ item.id }}">
                <li class="flex items-start gap-4 px-4 py-3">
                    <div class="flex items-center text-secondary">
                        {% if item.created_at >= now|subtract_timedelta:7 %}
                        <!-- Post created within the last 7 days -->
                        <img src="{% static 'img/hot_news_icon.png' %}" class="w-8 animate-bounce">
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-0 min-h-[2rem] items-start justify-center w-full min-w-0">
                        <h4 class="text-sm text-primary">{{ item.title.upper|safe }}</h4>
                        <p class="w-full text-xs truncate text-slate-500">
                            {{ item.created_at|date:"D, d M Y" }} | {{ item.created_at|time:"h:i A" }}</p>
                    </div>
                </li>
            </a>
        </div>
        {% endfor %}
    </ul>
    {% else %}
    <p>No any top news found</p>
    {% endif %}
    <!-- Scroll icon -->
    <div id="scroll-icon-hot-news" class="absolute bottom-0 left-0 right-0 flex justify-center mb-2 hidden">
        <div class="h-10 w-10 flex items-center justify-center bg-gray-300 rounded-full animate-bounce">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
            </svg>
        </div>
    </div>
</div>