{% extends 'base.html' %}

{% block title %} Home {% endblock title %}


{% block content %}

{% include 'slides_section.html' with sliders=sliders news_flash=news_flash quick_links=quick_links news=news %}
{% comment %} {% include 'slides.html' with sliders=sliders %} {% endcomment %}
{% include 'search.html' %} 
{% include 'rector_note.html' %}
{% include 'news_segment.html' with announcements=announcements events=events links=links %}
{% include 'about_nit_section.html'%}
{% include 'news_flash.html' with news_flash=news_flash quick_links=quick_links news=news %}

{% endblock content %}

<!-- End Chip notification with leading button -->


{% block scripts %}
<script>
    $(function () {


        // $.ajax({
        //     url: '/ajax/get_sliders/',
        //     type: 'GET',
        //     dataType: 'json',
        //     success: function (data) {
        //     },
        //     error: function (xhr, status, error) {
        //         console.error('Error fetching sliders:', error);
        //     }
        // });

    });
</script>

{% endblock %}