<!-- Component: Horizontal card-->
{% load static %}
{% load custom_tags %}

<div class="mx-2 my-2 flex justify-center items-center">
    <header>
        <h1 class="text-primary text-2xl font-bold relative">Latest News</h1>

        <div class="relative bottom-0 left-1/2 transform -translate-x-1/2 w-1/2 h-0.5 bg-primary mt-1"></div>
    </header>
</div>

<div class="w-full h-96 overflow-y-auto relative" id="scrollable-area-latest-news">
    {% if latest_news %}
    {% for news_item in latest_news %}
    <!-- Component: Horizontal card-->
    <div
        class="flex flex-col overflow-hidden bg-white hover:bg-sky-100 card rounded shadow-md sm:flex-row text-slate-500  mr-2 ml-2 mb-1">
        <!-- Image -->
        <img class="w-24 h-24 m-1 border-2 border-gray-300" src="{{ news_item.image_url.url }}" alt="card image"
            class="object-cover min-h-full aspect-auto" />
        <!-- Body-->
        <a a href="{% url 'handle_news_click' news_item.id %}">
            <div class="p-2 sm:mx-6 sm:px-0">
                <header class="flex gap-4 mb-0">
                    <div>
                        <h3 class="text-sm font-bold text-slate-700" caption="kakak">
                            {{ news_item.title|capfirst}}
                        </h3>
                        <p class="text-xs text-slate-400">{{ news_item.created_at }}</p>
                    </div>
                </header>
                <p class="text-sm">
                    {% with max_chars=100 %}
                    {{ news_item.description|truncate_chars:max_chars|safe }}
                    {% if news_item.description|length > max_chars %} <a
                        href="{% url 'handle_news_click' news_item.id %}"
                        class="text-blue-500 underline cursor-pointer">... Read more</a>{% endif %}
                    {% endwith %}
                </p>
            </div>
        </a>

    </div>

    <!-- End Horizontal card-->

    {% endfor %}


    {% else %}
    <p>No any latest news found</p>
    {% endif %}
<!-- Scroll icon -->
<div id="scroll-icon-latest-news" class="absolute bottom-0 left-0 right-0 flex justify-center mb-2 hidden">
    <div class="h-10 w-10 flex items-center justify-center bg-gray-300 rounded-full animate-bounce">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
        </svg>
    </div>
</div>
    
</div>

<div class="m-2 flex justify-between items-center">
    <div></div>
    <!-- View All Button -->
    <a href="/view-all"
        class="text-primary bg-gray-300 hover:bg-white px-4 py-2 rounded transition-colors duration-100">
        View All
    </a>
</div>