{% load static %}

<section class="flex flex-col md:flex-row mt-0 bg-gray-200">
  <!-- Left column (20%) -->
  <div class="w-full md:w-2/6  p-4 m-2">
    {% include 'announcements.html' with announcements=announcements %}
  </div>


  <!-- Middle column (60%) -->
  <div class="w-full md:w-2/6 p-4 m-2">
    {% include 'events.html' with events=events %}
    <!-- End Leading Icon Two Line List -->
  </div>

  <!-- Right column (20%) -->
  <div class="w-full md:w-2/6  p-4 m-2">
    {% include 'downloads.html' with downloads=downloads %}
    <!-- End Leading Icon Two Line List -->
  </div>
</section>